.error-404 {
  padding-top: 9em;
  padding-left: 1.3em;
  font-family: $font__header;
}
.home-button {
  font-family: $font__paragraph;
  background-color: $color__primary-light;
  width: 12em;
  height: 3em;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  a {
    color: black;
    font-size: 18px;
  }
}
