article {
  margin: 0;
  padding: 0;
}

.archive-tutorial {
  width: 80vw;
  margin: 0 auto;

  @include desktop {
    width: 100vw;
  }
}

.archive-tutorial {
  font-family: $font__paragraph;
  max-width: 1000px;
  margin: 0 auto;
  .tutorial-archive-title {
    max-width: 60%;
    font-family: $font__header;
    font-weight: bold;
  }
  .archive-rectangle {
    z-index: 1;
    left: 0;
    position: relative;
    background-color: $color__green-light;
    transform: translateY(-75%);
    width: 100%;
  }
  .contact-rectangle {
    display: inline-block;
    transform: translateY(-50%);

    @include desktop {
      height: 40px;
      display: inline-block;
      transform: translateY(-58%);
    }
  }
  .tutorial-info {
    display: flex;
    margin-bottom: 30px;
    p {
      width: 154px;
    }
    .tutorial-date p {
      margin-top: 30px;
      width: 60em;
    }
    .button-container {
      display: none;
    }
  }
  .tutorial-icon {
    width: 30px;
    margin: 0 5px;
    transform: translateY(25%);
  }
  .title-container {
    margin-top: 30px;
  }
}

.entry-content {
  font-weight: bold;
  p {
    font-weight: normal;
  }
}
.list-headings {
  display: none;
}

@include desktop {
  .archive-tutorial {
    .tutorial-archive-title {
      font-size: 2rem;
      max-width: 50%;
    }
  }
  .thumbnail {
    width: 12em;
    margin-top: 33px;
    margin-right: 42px;
  }

  .list-headings {
    display: flex;
    justify-content: space-evenly;
    margin-left: 74px;
  }

  .list-group {
    display: flex;
    margin-left: 0px;
  }
  .rating {
    margin-right: 30px;
  }
  .wishlist {
    margin-right: 30px;
  }

  .tutorial-index {
    display: flex;
    height: 80px;
    padding-bottom: 12em;
  }
  .paragraph-container p {
    position: relative;
  }

  .tutorial-date {
    position: absolute;
    left: 388px;
    padding-top: 8rem;
    font-size: 0.8em;
  }

  .vsc-button {
    background-color: #29cfff;
    @include archive_button;
  }

  .share-button {
    border: 1.5px solid black;
    @include archive_button;
  }

  .entry-content {
    p {
      margin-right: -50px;
    }
  }
  .button-container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 200px;
  }

  .tutorial-name {
    margin-right: 20px;
  }
  .tut-h2 {
    display: none;
  }
}
