.archive-single {
    width: 90%;
    margin: 0 auto;
    font-family: $font__paragraph;
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 16px;
    }
    .tutorial-archive-title {
        z-index: 2;
        p {
            font-size: 1.75rem;
        }
    }
    .single-rectangle {
        background: $color__secondary-light;
        display: inline-block;
        border-radius: 5px;
        width: 120%;
        height: 30px;
        transform: translateY(-130%);
        z-index: -1;
    }
    .bookmark-icon {
        margin: auto 10vw;
        height: 30px;
    }
    .entry-header {
        text-align: center;
    }
    .single-header-info {
        display: flex;
        justify-content: space-between;
        height: 15vh;
    }
    .tutorial-single-title {
        font-family: $font__header;
    }
    .wp-post-image {
        border-radius: 15px;
        max-width: 100%;
    }
    .tutorial-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: .8rem;
        p {
            margin: 5px;
        }
        .tutorial-date, .tutorial-text{
            margin-top: 15px;
        }
        
    }
    .tutorial-icon {
        width: 30px;
        margin: 0 5px;
        transform: translateY(25%);
    }
    .tutorial-requirements-list {
        display: flex;
        
    }
    .tutorial-tags-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        p {
            margin: 0;
            margin-top: -30px;
        }
        img {
            transform: translateY(100%);
        }
    }
    .tutorial-single-icons {
        margin: 15px 5px;
        width: 25px;
        height: 25px;
    }
    .comment-list {
        margin: 0;
        padding: 0;
    }
    .comment-body {
        display: flex;
        padding: 20px 0;
        margin: 30px 0;
        border-bottom: 1px solid $color__border-abbr;
        a {
            color: $color_theme-black;
        }
        .comment-meta {
            display: flex;
            margin: 5px 5px;
            font-weight: 500;
            div {
                margin: 5px;
            }
        }
    }
    .form-control {
        height: 100px;
        border: 1px solid $color_theme-black;
        border-radius: 5px;
    }
    .form-submit {
        input {
            padding: 15px 15vw;
            background: $color__background-body;
            border: 1px solid $color_theme-black;
            border-radius: 5px;
            position: absolute;
            right: 5%;
        }
    }
    .empty-comments {
        .comment-respond {
            height: 25vh;
        }
    }
    .empty-comments-logged-out {
        .comment-respond {
            height: 55vh;
        }
    }
}
@include desktop {
    .archive-single {
        margin: 0 5vw;
        width: 45%;
        .entry-content {
            p {
                font-size: 1.5rem;
            }
        }
        .tutorial-info {
            width: 30vw;
            p {
                font-size: 1.25rem;
            }
            img {
                width: 50px;
            }
        }
        .tutorial-date {
            position: relative;
            padding: 0;
            left: 0;
        }
        .tutorial-tags-list {
            width: 25vw;
            p {
                font-size: 1rem;
            }
        }
        .entry-header {
            img {
                display: none;
            }
        }
        .tutorial-icon {
            max-width: none;
            width: 60px;
        }
        .comment-form {
            width: 25vw;
            p {
                font-size: 1rem;
            }
        }
        .comment-content {
            display: flex;
            p {
                font-size: 1rem;
                margin: 0 30px;
            }
        }
        .comment-meta {
            flex-direction: column;
            
        }
        .comment-metadata {
            a {
                display: none;
            }
        }
        .form-submit {
            input {
                position: relative;
                padding: 15px 5vw;
                margin: 0 20px;
                left: 12vw;
            }
        }
        .tutorial-requirements-list {
            p {
                font-size: 1rem;
            }
        }
        .reply {
            display: none;
        }
    }
}