.contact-title {
    height: 34px;	
    width: 135px;	
    color: #292929;
    font-family: ".SF NS Display";
    font-size: 24px;
    line-height: 28px;
}

.contact-rectangle{
    height: 22.16px;
    width: 119.1px;
    opacity: 0.75;
    transform: rotate(360deg);
    border-radius: 4px;
    background-color: $color__secondary-light;  
}

.contact-form-submit{
    height: 53px;
    width: 238px;
    border-radius: 8px;    
    background-color: #29CFFF;
    font-size: 20px;
    font-family: $font__header;
}

.contact-form-email{
    border: 1px solid $color__secondary-light;
    border-radius: 8px;
    height: 47px;
    width: 312px;
}

.contact-form-question{
    height: 114px;
    width: 312px;
    border: 1px solid #9389FF;
    border-radius: 8px;
}