.rectangle-create{
    height: 27px;
    width: 182.1px;
    opacity: .75;
    transform: rotate(1turn);
    background-color: $color__secondary-light;
    position: absolute;
    bottom: -11px;
    left: 16.5%;
    border-radius: 4px;
}

.create-container{
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.create-title {
	height: 32px;
	width: 100%;
	color: #000000;
	font-size: 24px;
	letter-spacing: 0.69px;
    line-height: 28px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: $font__header;
}

.text-below-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 81px;	
    width: 100%;	
    background-color: $color__blue-light;
    font-family: $font__paragraph;
    margin-bottom: 2.5rem;  
    h2{
        font-weight: 600;
    }
}

.steps-content{
    box-sizing: border-box;	
    height: 335px;
    width: 260px;	
    border: 14px solid $color__blue-dark;	
    border-radius: 14px;
    overflow: hidden;
    p{
        font-family: $font__paragraph;
        margin-left: 5%;
        margin-right: 5%;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-weight: 400;
        font-family: $font__paragraph;
    }
}

.steps-container{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: $font__header;
}



.tutorial-share-title{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font__paragraph;
    font-weight: 600;
}

.tutorial-share-container{
    height: 81px;	
    width: 100%;	
    background-color: $color__green-light;
    text-align: center;
}

.share-container{
    width: 350px;
    margin: 0 auto;
    font-family: $font__paragraph;
    margin-bottom: 3rem;

}

.created-index-container {
	box-sizing: border-box;
	height: 434px;
	width: 334px;
	border: 14px solid #3F576B;
    border-radius: 14px;
    margin: 0 auto;
    overflow: hidden;
    h2{
        font-family: $font__header;
    }

    font-family: $font__paragraph; 
    
}

.title-index-container{
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
}

.create-lang-title{
    width:40%;
    text-decoration: underline;
    text-align: left;
    margin-left: 1rem;
    line-height: 2;
}

.create-lang-amount{
    width:55%;
    margin-right: .5rem;
}

.footer-fix{
    height: 1800px;
}