.site-info {
  background-color: $color__secondary-dark;
  height: 300px;
}
.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 3em;
  padding-top: 1em;
}
.resources {
  color: $color__theme-white;
  h5 {
    font-family: $font__header;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
  }
}
ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font__paragraph;
}
a {
  text-align: left;
  text-decoration: none;
  color: $color__theme-white;
}

.about-us {
  color: $color__theme-white;
  h5 {
    font-family: $font__header;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
  }
  ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $color__theme-white;
  }
}
.support {
  color: $color__theme-white;
  h5 {
    font-family: $font__header;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
  }
  ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $color__theme-white;
  }
}
.language {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
  margin-top: 3em;
  svg {
    margin-top: 6px;
  }
  p {
    font-size: 10px;
    margin-left: 5px;
    font-family: $font__paragraph;
    color: $color__theme-white;
  }
}
.copyright {
  color: $color__theme-white;
  text-align: center;
  font-size: 10px;
  font-family: $font__paragraph;
}
