.site-info {
  background-color: $color__secondary-dark;
  height: 300px;

  .footer-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1em;
    padding-top: 1em;
    grid-gap: 20px;
    @include desktop {
      display: flex;
      float: right;
    }

    .resources {
      color: $color__theme-white;
      @include desktop {
        padding-right: 8em;
      }
      h5 {
        font-family: $font__header;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 0.4;

        @include desktop {
          font-size: 20px;
        }
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: $font__paragraph;
        line-height: 2;
        @include desktop {
          font-size: 16px;
          line-height: 2;
          font-weight: 500;
        }

        a {
          color: $color__theme-white;
          text-align: left;
          text-decoration: none;
        }
      }
    }

    .about-us {
      color: $color__theme-white;
      @include desktop {
        padding-right: 8em;
      }
      h5 {
        font-family: $font__header;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 0.4;

        @include desktop {
          font-size: 20px;
        }
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: $font__paragraph;
        line-height: 2;
        @include desktop {
          font-size: 16px;
          line-height: 2;
          font-weight: 500;
        }
      }

      a {
        text-decoration: none;
        color: $color__theme-white;
      }
    }

    .support {
      color: $color__theme-white;
      @include desktop {
        padding-right: 8em;
      }

      h5 {
        font-family: $font__header;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 0.4;
        @include desktop {
          font-size: 20px;
        }
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: $font__paragraph;
        line-height: 2;
        @include desktop {
          font-size: 16px;
          line-height: 2;
          font-weight: 500;
        }
      }

      a {
        text-decoration: none;
        color: $color__theme-white;
      }
    }
  }

  .language {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    margin-top: 3em;
    @include desktop {
      padding: 3em 0 0 3em;
    }

    svg {
      margin-top: 6px;
      @include desktop {
        margin-top: 15px;
        width: 30px;
        height: 30px;
      }
    }

    p {
      font-size: 10px;
      margin-left: 5px;
      font-family: $font__paragraph;
      color: $color__theme-white;
      @include desktop {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .copyright {
    color: $color__theme-white;
    text-align: center;
    font-size: 10px;
    font-family: $font__paragraph;
    @include desktop {
      display: flex;
      font-size: 17px;
      font-weight: 500;
      padding: 7em 0 0 7em;
    }
  }
}
