.code-image {
  position: relative;
  img {
    filter: blur(1px);
    opacity: 0.8;
  }

  p {
    position: absolute;
  }
}

.why-title {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}
.why-code {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'why-section why-section why-section';
  padding: 0 3em;
  grid-gap: 50px;

  .why-section {
    line-height: 1;
    height: 40vh;
  }
  h3 {
    font-size: 14px;
    font-family: $font__paragraph;
  }
  p {
    font-size: 10px;
    font-family: $font__paragraph;
    line-height: 2;
  }
  .image-why {
    height: 15vh;
  }
}

.tutorial-video {
  padding: 0 3em;
  font-family: $font__paragraph;
  iframe {
    padding: 1em 0;
  }
  h2 {
    font-family: $font__paragraph;
    font-weight: 600;
    font-style: normal;

    font-size: 18px;
  }
  h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }
  p {
    line-height: 1.2;
  }
}

.social-media {
  display: flex;
  padding: 0 3em;

  img {
    width: 26px;
    height: 20px;
    padding: 0 3px;
  }
}
.subject {
  padding: 0 3em;
}

.all-sub {
  display: flex;
}
.sub-subject {
  img {
    width: 5em;
    height: 3em;
  }
}
