.code-image {
  position: relative;
  img {
    filter: blur(1px);
    opacity: 0.8;
  }

  p {
    position: absolute;
  }
}

.why-title {
  text-align: center;
  padding-top: 4em;
}
.why-code {
  text-align: center;
  display: flex;
}

.tutorial-video {
  iframe {
    padding: 1em 2.5em;
    border-radius: 3em;
  }
  h2 {
    font-family: $font__paragraph;
    font-weight: 600;
    font-style: normal;

    font-size: 18px;
    padding-left: 2.6em;
  }
}
