.main-navigation {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    .icon-search {
        z-index: 2;
    }
    .search-form {
        display: flex;
    }
    .search-fieldset {
        display: flex;
    }
    .search-field {
        // display: none;
        width: 0px;
        transition: 2s;
    }
}