.main-navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: $color__theme-gray;
    .search-fieldset {
        display: flex;
    }
    .search-field {
        // display: none;
        width: 0px;
        height: 30px;
        border: 0;
        border-radius: 5px;
        transition: 2s;
        text-indent: 12vw;
    }
    .icon-search {
        z-index: 2;
        transform: translate(-50%,0);
        a {
            transition: transform 2s ease;
        }
        img {
            margin-top: 5px;
            max-width: 25px;
        }
    }
    .cancel-search {
        position: absolute;
        a {
            transition: transform 2s ease;
            display: none;
        }
        img {
            margin: 10px 10px 0 0;
            max-height: 30px;
            max-width: 15px;
        }
    }
    .menu-main-menu-container {
        ul {
            display: none;
            flex-direction: column;
            background: $color__theme-white;
        }
        a {
            color: $color_theme-black;
        }
    }
    .hamburger-menu {
        margin: 10px 20px;
        width: 25px;
        position: absolute;
    }
}