.main-navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: $color__theme-gray;
    .desktop-navigation {
        display: none;
    }
    .hamburger-icon {
        z-index: 3;
        position: relative;
        img:hover {
            cursor: pointer;
        }
    }
    .search-form {
        display: flex;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
    .icon-search {
        a {
            position: relative;
            left: -10vw;
        }
        img {
            z-index: 1;
            left: 90vw;
            margin-top: 13px;
            width: 22px;
            position: relative;
        }
        .search-icon-unlink {
            display: none;
        }
    }
    .search-fieldset {
        z-index: 1;
    }
    .fieldset-wrapper{
        margin-top: 3px;
        display: flex;
        position: relative;
        left: 10vw;
        width: 0;
        label {
            position: relative;
            margin-left: 10vw;
        }
        .search-field {
            background: $color__theme-gray;
            text-indent: 10px;
            width: 100%;
            border: 0;
            border-radius: 3px;
        }
        img {
            position: absolute;
            margin-top: 7px;
            width: 16px;
            right: 5vw;
        }
    }
    .drop-menu {
        z-index: 99;
        position: absolute;
        left: -100%;
        top: 6vh;
        h2 {
            padding: 25px 0 0 30px;
            margin: 0;
            background: $color__theme-white;
            width: 70vw;
        }
        .menu-blue-bar {
            background: $color__primary-light;
            width: 150px;
            height: 15px;
            border-radius: 5px;
        }
    }
    .menu-menu-container {
        .menu {
            z-index: 4;
            width: 70vw;
            height: 70vh;
            font-family: $font__paragraph;
        }
        ul {
            display: flex;
            flex-direction: column;
            background: $color__theme-white;
            padding: 50px 20px;
        }
        li {
            margin: 15px 0;
            &:hover a {
                border-bottom: 5px solid $color__secondary-medium;
            }
        }
        a {
            font-size: 1.25rem;
            height: 25px;
            max-width: 150px;
            color: $color_theme-black;
        }
    }
    .hamburger-menu {
        margin: 10px 20px;
        width: 25px;
        .logo-button {
            display: none;
        }
    }
}
.site-content {
    background: $color__theme-white;
    padding-top: 5em;
}

@include tablet {
    .main-navigation{
        height: 75px;
        justify-content: space-around;
        .hamburger-menu {
            margin: 18px 20px;
            .burger-button {
                display: none;
            }
            .logo-button {
                display: block;
                transform: scale(6);
            }
        }
        .icon-search {
            img {
                display: none;
            }
            .search-icon-unlink {
                display: block;
                position: relative;
                left: 35vw;
            }
        }
        .search-form {
            margin-top: 10px;
        }
        .search-fieldset {
            position: relative;
            left: 20vw;
        }
        .fieldset-wrapper {
            width: 30vw;
            border: 1px solid black;
            border-radius: 5px;
            .cancel-button {
                display: none;
            }
            label {
                margin-left: 5vw;
            }
            .search-field {
                width: 20vw;
            }
        }
        .menu-menu-container {
            .menu {
                width: 50vw;
            }
        }
        .drop-menu {
            top: 8vh;
            h2 {
                width: 50vw;
                font-family: $font__header;
            }
        }
        .desktop-navigation {
            margin: 5px 0 5px 30px;
            display: flex;
            z-index: 1;
            font-family: $font__paragraph;
            a {
                color: $color__green-medium;
                font-weight: 600;
                font-size: 1rem;
                &:hover {
                    color: $color__green-dark;
                }
            }
            p{
                padding: 0 5px;
            }
            li:first-child p{
                color: $color__secondary-medium;
                border-right: 1px solid gray;
                &:hover {
                    color: $color__secondary-dark;
                }
            }
        }
    }
}