.site-content {
  border: 1px solid black;
  padding: 150px 10px 10px 10px;
}

.content-container1 {
  margin-top: 250px;
  margin-left: 70px;
  // margin-bottom: 150px;
}

.tutorial-response1-container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 247px;
  //
  position: absolute;
  top: 25px;
}

.image-container1 {
  background-image: url('../../assets/desktop-assets/illustrations/Illustration.png');
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  // margin-top: 65px;
  //
  position: relative;
  left: 655px;
  bottom: 235px;
}

.tutorial-res1-h2 {
  justify-content: center;
  margin-top: 30px;
  position: relative;

  .h2-element {
    position: relative;
    display: inline-block;
    z-index: 0;

    &::before {
      content: '';
      @include faqAccent1Green;
    }
  }
}

// .h4-heading {
//   font-weight: normal;
// }
.faqh2 {
  color: white;
  border: none;
}
