.tutorial-response1-container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin-left: 56px;
  margin-top: 45px;
}

.image-container {
  background-image: url('../../assets/desktop-assets/illustrations/Illustration.png');
  background-repeat: no-repeat;
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 65px;
}

.tutorial-res1-h2 {
  justify-content: center;
  margin-top: 30px;
  position: relative;

  .h2-element {
    position: relative;
    display: inline-block;
    z-index: 0;

    &::before {
      content: '';
      @include faqAccent1Green;
    }
  }
}

.h4-heading {
  font-weight: normal;
}
