
.illustration-container{
    background-image:url("../../assets/desktop-assets/illustrations/Illustration.png");
    background-repeat: no-repeat;
    height: 64vh;
    display: flex;
    justify-content: flex-end;

}

.tutorial-response-container{
    // height: 60vh;

    // background-image:url("../../assets/desktop-assets/illustrations/Illustration.png");
    // background-repeat: no-repeat;

    // margin-left: 105px;

}

.tutorial-h2{
//   margin-right: 211px;
  
}