.site-content {
  font-size: 16px;
  line-height: 2.5rem;
  h2 {
    font-family: $font__header;
  }
  a {
    font-family: $font__paragraph;
  }
}

.entry-title {
  display: none;
}

.faqh2 {
  display: flex;
  border-bottom: 1px solid green;
  justify-content: center;
  margin: 0px 30px 0px 30px;
}
.tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    z-index: 99;
  }
}
.link-container {
  margin-bottom: 13px;

  a {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}

.tutorial-h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;

  h2 {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      @include faqAccent1Green;
    }
  }
}

.profile-h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;

  h2 {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      @include faqAccent1Green;
    }
  }
}
