.sign-up-content{
    height: 475px;
}


.sign-up-text{
    height: 34px;	
    color: $color__text-main; 
    font-family: $font__header;
    font-size: 2rem;
    line-height: 28px;
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    position: relative;
    z-index: 1;
}

.sign-up-name{
    border: 1px solid $color__secondary-light;
    border-radius: 8px;
    height: 47px;
    width: 312px;
    text-align: center;
    font-family: $font__paragraph;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.sign-up-email{
    border: 1px solid $color__secondary-light;
    border-radius: 8px;
    height: 47px;
    width: 312px;
    text-align: center;
    font-family: $font__paragraph;
}

.sign-up-password{
    border: 1px solid $color__secondary-light;
    border-radius: 8px;
    height: 47px;
    width: 312px;
    text-align: center;
    font-family: $font__paragraph;
}

.sign-up-submit{
    height: 53px;
    width: 130px;
    border-radius: 8px;    
    background-color: $color__primary-light;
    font-size: 1rem;
    font-family: $font__header;
    margin-top: 1.5rem;
    margin-left: 1rem;
    @include desktop{
        margin-bottom: 3.5rem;
        margin-left: 1rem;
    }
}

.sign-up-container{
    position: relative;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    p{
        margin: 0px;
    }

    @include desktop{
        margin-bottom: 4rem;
    }

}

.register-rectangle{
    position: absolute;
    height: 22.16px;
    width: 119.1px;
    background: $color__green-light;
    right: 116px;
    top: 62px;
    border-radius: 1rem;
}

.register-rectangle-two{
    position: absolute;
    height: 22.16px;
    width: 119.1px;
    background: $color__secondary-light;
    right: 96px;
    top: 76px;
    border-radius: 1rem;
}

.register-content{
    position: relative;
    width: 400px;
    margin: 0 auto;
    @include desktop{
        margin-top: 3rem;
    }
}

.register-container{
    @include desktop {
    background: #d4e5f3;
    width: 600px;
    margin: 0 auto;
    }
}

.wpcf7-not-valid{
border-color: red;
}

.sign-up-main-container{
    @include desktop{
        margin-top: 7rem;
}
}